.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    height: 200px;
    width: 200px;
}

.box {
    /* box-shadow: 10px 10px 5px 0px rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(9, 9, 9, 0.16);
    border-radius: 11px; */
    animation-duration: 2s;
    animation-name: c;
    float: right;
    height: auto;
    margin-top: 20px;
    padding: 0 20px 20px;
}

@keyframes c {
  0% {
    opacity: 0;
    transform: scale(0.5);
    transform-origin: center bottom;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50%{
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  to {
      opacity: 1;
  }
}