.logo, .logo_dark{
    height: 85px;
    width: 270px;
}

[data-theme="dark"] .logo_dark {
    display: block; 
    /* Show */
}
 
[data-theme="dark"] .logo{
    display: none;
    /* Hide */
}

[data-theme="light"] .logo_dark{
    display: none;
    /* Hide */
}

[data-theme="light"] .logo{
    display: block;
    /* Show */
}

.logo_parent{
    text-align: center;
}

.photo {
    max-width: 50%;
    border-radius: 1000px;
}

.i {
    font-style: italic
}