.right {
	padding: 7px;
	border-left: solid 1px black;
}
.left {
	width: 50%;
	float: left;
}
.wrapperClass {
	background: linear-gradient(
		33deg,
		#743f93 20%,
		#68ed7b 40% 50%,
		#e14465 30% 60%,
		#3048d7 90% 80%
	);
	height: 100vh;
}
